$highlightcolor : lightgreen;

@font-face {
  font-family: ItcAvantGardBold;
  font-weight: bold;
  src: url("fonts/itc-avant-garde-gothic-bold.otf") format("opentype");
}

.intro{
  h1{
    font-family: 'ItcAvantGardBold';
  }
}

.highlight{
  color: $highlightcolor;
}

.image-container {
  position: relative;
}
.image-container img {
  object-fit: cover;
}

.image-container .hover-content {
  width: 0px;
  height: 0px;
  visibility: hidden;
  z-index: 5;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 9px;
  background: #e0cfcf;
  opacity: 0;
}

/* styles.css */

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.fadeIn-animation {
  -webkit-animation: fadeIn 0.5s; /* Safari 4+ */
  -moz-animation:    fadeIn 0.5s; /* Fx 5+ */
  -o-animation:      fadeIn 0.5s; /* Opera 12+ */
  animation:         fadeIn 0.5s; /* IE 10+, Fx 29+ */
}

.fadeOut-animation {
  -webkit-animation: fadeOut 0.2s; /* Safari 4+ */
  -moz-animation:    fadeOut 0.2s; /* Fx 5+ */
  -o-animation:      fadeOut 0.2s; /* Opera 12+ */
  animation:         fadeOut 0.2s; /* IE 10+, Fx 29+ */
}