$highlightcolor : lightgreen;

@font-face {
  font-family: ItcAvantGardBold;
  font-weight: bold;
  src: url("fonts/itc-avant-garde-gothic-bold.otf") format("opentype");
}

.intro{
  h1{
    font-family: 'ItcAvantGardBold';
  }
}

.highlight{
  color: $highlightcolor;
}

.consoleOutboud{
  border: solid 2px;
  padding: 20px;
  
  left: 250px;
  height: 55vh;
  width: 54vw;
  position: relative;
}