.obj-fit{
   object-fit: contain;
}

.gif{
  width: 75px;
margin-left: -30px;
}

a{
  color:black;
}

a:hover{
  color: lightgreen;
  text-decoration: none
}

.tag{
    width: 90px;
    border-right: solid 2px black;
    /* background-color: white; */
    display: inline-block;
}

.image-container .hover-content.fadeIn {
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.5)
}

.image-container .hover-content.fadeOut {
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.5)
}

.hover-content{
  text-align: center;
  /* vertical-align: bottom; */
  display: grid;
}

.project{
  h5{
    font-family: 'ItcAvantGardBold';
  }
}


.shadow{

-webkit-box-shadow: 0px 7px 6px 0px rgba(50, 50, 50, 0.35);
-moz-box-shadow:    0px 7px 6px 0px rgba(50, 50, 50, 0.35);
box-shadow:         0px 7px 6px 0px rgba(50, 50, 50, 0.35);
}
